.index-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;

    .index-header {
        background-color: #b3c0d1;
        color: #333;
        line-height: 60px;
        background-color: #03AEC8;

        .logo {
            float: left;
            color: #fff;
            font-size: 18px;
            padding-left: 20px;
            line-height: 60px;
        }

        .left_open {
            height: 45px;
            line-height: 45px;
            float: left;
            margin-left: 1%;

            i {
                display: block;
                background: rgba(255, 255, 255, 0.1) 0 0 no-repeat;
                color: #fff;
                width: 32px;
                height: 32px;
                line-height: 32px;
                border-radius: 3px;
                text-align: center;
                margin-top: 14px;
                cursor: pointer;
            }
        }

        .right {
            float: right;
        }

        .right-nav {
            padding-right: 44px;

            .right-nav-item {
                float: left;

                a,
                span {
                    color: #fff;
                    padding: 0 24px;
                    cursor: pointer;

                    i {
                        color: #fff;

                    }
                }
            }

        }
    }

    .index-aside {
        background-color: #d3dce6;
        text-align: center;
        line-height: 200px;
        transition: all 0.3s;

        .left-aside-wrap {
            background: none;

            >li {
                margin-left: -16px;
                text-align: left;
            }

            .sub-me-wrap {
                div {
                    padding-left: 30px !important;
                    color: #48576a;
                }

                li {
                    margin-left: -18px;
                    padding: 0;
                }
            }
        }
    }

    .index-main {
        background-color: #e9eef3;
        color: #333;
        text-align: center;
        line-height: 160px;
    }

}

.num-icon {
    sup {
        top: 14px !important;
        right: 26px !important;
    }
}



.index-main {
    display: block;
    flex: 1;
    flex-basis: auto;
    padding: 20px;
}

.index-container.is-vertical {
    flex-direction: column;
}

.user-top {
    color: #fff;
}

.th-li {
    padding: 0 28px !important;

    a {
        color: #48576a;
    }
}